<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark" ) -}}class="dark" {{ end }}>
{{ partial "header.html" . }}

<body>
  <div class="container wrapper">
    {{ partial "head.html" . }}
    
    <!-- Featured Section -->
    <div class="recent-posts section">
      <h2 class="section-headers">Featured</h2>
      {{ $mostRecent := first 1 (.Site.RegularPages.ByDate.Reverse) }}
      {{ range $mostRecent }}
      <div class="most-recent">
        {{ partial "post-preview.html" . }}
      </div>
      {{ end }}
      
      {{ $featured := where .Site.RegularPages ".Params.featured" 1 }}
      <div class="posts featured">
        {{ range $featured }}
        <div>
          {{ partial "post-preview.html" . }}
        </div>
        {{ end }}
      </div>
    </div>

    <!-- Posts Section -->
    <div class="section">
      <h2 class="section-headers">Posts</h2>
      <div class="posts">
        {{ $posts := where .Site.RegularPages "Section" "posts" }}
        {{ range $posts }}
        <div>
          {{ partial "post-preview.html" . }}
        </div>
        {{ end }}
      </div>
    </div>

<!-- Rants Section -->
<div class="section rants">
  <h2 class="section-headers">Rants</h2>
  <div class="posts">
    {{ with .Site.GetPage "Section" "rants" }}
      {{ range .Pages }}
        {{ partial "post-preview.html" . }}
      {{ end }}
    {{ else }}
      <p>No rants found.</p>
    {{ end }}
  </div>
</div>



    <!-- Thoughts Section -->
    <div class="section thoughts">
      <h2 class="section-headers">Thoughts</h2>
      <div class="posts">
        {{ $thoughts := where .Site.RegularPages "Section" "thoughts" }}
        {{ range $thoughts }}
        <div>
          {{ partial "post-preview.html" . }}
        </div>
        {{ end }}
      </div>
    </div>

  </div>
  {{ partial "footer.html" . }}
</body>
</html>
